@use '../abstract' as *;
@use '../base' as *;
@use './projects' as *;
@use './header' as *;

// *** Footer ***
.footer {
  background-color: $dark-secondary;

  padding: 8.75rem 2rem;

  @include dimension-settings(100%, $min-height: 67.5rem);
  @include flex-settings($direction: column, $gap: 9.2rem);

  // *** Contact ***
  &__contact {
    margin-top: 0;

    @include dimension-settings(100%, 110rem, null, 32.7rem);
    @include flex-settings(space-between, null, $gap: 4rem);
    @include position-settings($position: relative);

    // *** Responsive Design ***
    @include responsive-settings(tablet-large) {
      @include flex-settings(space-between, center, column);
    }
    // *** End of Responsive Design ***
  }
  // *** End of Contact ***

  // *** Container ***
  &__container {
    @include dimension-settings(100%, 41.2rem);
    @include flex-settings(null, null, column, 3.7rem);

    // *** Responsive Design ***
    @include responsive-settings(tablet-large) {
      @include flex-settings(center, center, column, 3.7rem);
    }
    // *** End of Responsive Design ***
  }
  // *** End of Container ***

  // *** Ring - Decoration ***
  &__ring {
    @include position-settings($bottom: -6rem, $left: -38.4rem);

    // *** Responsive Design ***
    @include responsive-settings(mobile) {
      @include position-settings($bottom: -6.4rem, $left: -24rem);
    }
    // *** End of Responsive Design ***
  }
  // *** End of Ring - Decoration ***

  // *** Overlay ***
  &__overlay {
    transform: scale(0);

    background-color: $dark-overlay;
    backdrop-filter: blur(1rem);

    cursor: pointer;

    transition: transform 0.5s ease-out;

    @include dimension-settings(100%, $height: 100%);
    @include flex-settings();
    @include position-settings(0, 0, $zIndex: 5000, $position: fixed);

    &-description {
      text-align: center;

      transform: translate(-50%, -75%);

      @include position-settings(85%, 50%);
    }

    &.active {
      transform: scale(1);
    }
  }
  // *** End of Overlay ***
}
// *** End of Footer ***
