@use '../abstract' as *;
@use '../base' as *;
@use './projects' as *;

// *** Future ***
.future {
  @extend .projects;

  // *** Wrapper ***
  &__wrapper {
    @extend .projects__wrapper;
  }
  // *** End of Wrapper ***

  // *** Box ***
  &__box {
    margin-top: 4rem;

    background-color: $dark-tertiary;

    max-height: 100%;
    @include dimension-settings(100%, 80rem, 50rem);
    @include position-settings($position: relative);

    // *** Responsive Design ***
    @include responsive-settings(mobile-large) {
      @include dimension-settings(100%, 80rem, 40rem);
    }
    // *** End of Responsive Design ***

    // *** Projects ***
    &-project {
      overflow: hidden;

      @include dimension-settings(100%, $height: 100%);
      @include position-settings;
    }
    // *** End of Projects ***

    // *** Project 01 ***
    &-project-01 {
      transition: clip-path 0.5s;

      background: url('../../assets/images/CSS\ Art\ Anime\ 02.jpg') no-repeat
        center/cover;

      &:hover .future__box-content-01 {
        opacity: 1;

        transform: translateX(0);

        transition-delay: 0.6s;
      }
    }
    // *** End of Project 01 ***

    // *** Project 02 ***
    &-project-02 {
      transition: clip-path 0.5s;

      background: url('../../assets/images/Designo\ Frontend\ Mentor\ Challenge.jpg')
        no-repeat center/cover;

      clip-path: polygon(70% 0, 100% 0, 100% 100%, 30% 100%);

      &:hover {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      &:hover .future__box-content-02 {
        opacity: 1;

        transform: translateX(0);

        transition-delay: 0.6s;
      }
    }
    // *** End of Project 02 ***

    .future__box-project-01:hover ~ .future__box-project {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    // *** Content ***
    &-content {
      text-align: center;

      padding-block: 4rem;
      padding-inline: 10rem;

      background-color: $dark-overlay;

      opacity: 0;

      transition: all 0.5s ease-out;
      transition-delay: 0s;

      @include flex-settings($direction: column, $gap: 1rem);
      @include dimension-settings(100%, $height: 100%);
      @include position-settings(0, 0);

      // *** Responsive Design ***
      @include responsive-settings(tablet-large) {
        padding-inline: 7rem;
      }

      @include responsive-settings(tablet-small) {
        padding-inline: 4rem;
      }
      @include responsive-settings(mobile) {
        padding-inline: 2rem;
      }
      // *** End of Responsive Design ***

      &-01 {
        transform: translateX(-100%);
        pointer-events: none;
      }

      &-02 {
        transform: translateX(100%);
      }
    }
    // *** End of Content ***
  }
  // *** End of Box ***
}
// *** End of Future ***
