@use '../abstract' as *;
@use '../base' as *;
@use './projects' as *;

// *** Game ***
.game {
  @extend .projects;

  //   display: none;

  // *** Wrapper ***
  &__wrapper {
    @extend .projects__wrapper;
  }
  // *** End of Wrapper ***

  // *** Container ***
  &__container {
    perspective: 100rem;
    transform-style: preserve-3d;

    // overflow: hidden;

    @include dimension-settings(100%, 110rem);
    @include flex-settings($direction: column, $gap: 6rem);
  }
  // *** End of Container ***

  // *** Bomberman ***
  &__bomberman {
    background-image: url('../../assets/images/Bomberman-Photoroom.png');
    background-repeat: no-repeat;
    background-position: center center;
    // background-size: cover;
    opacity: 0;
    transform: translate(40rem, -40rem) scale(0);

    animation: appear-bomberman 0.35s 0.5s linear forwards;

    @include dimension-settings(44rem, $height: 50rem);
    @include position-settings(0, $right: 0);
  }

  @keyframes appear-bomberman {
    to {
      opacity: 1;
      transform: translate(20rem, -20rem) scale(0.7);
    }
  }
  // *** End of Bomberman ***
}
// *** End of Game ***
