@use '../abstract' as *;
@use '../base' as *;
@use '../components/funFacts' as *;

// *** My Overlay ***
.my-overlay {
  background-color: transparent;

  transition: transform 1s;

  @include dimension-settings(100%, $height: 100%);
  @include position-settings(0, 0, $zIndex: 2000);
  @include flex-settings;

  &__canvas {
    @include position-settings(0, 0);
  }

  &__wrapper {
    background-color: transparent;

    @include dimension-settings(100%, $height: 100%);
    @include position-settings(0, 0);
    @include flex-settings(center, end);
  }

  // ***  Box ***
  &__box {
    margin-bottom: 2rem;

    text-align: center;

    @include dimension-settings(100%, 55rem, 18rem);
    @include flex-settings(space-around, center, column);
  }
  // *** End of  Box ***

  // *** Description ***
  &__description {
  }
  // *** End of Description ***

  &__button {
    @extend .features__fun-facts-button;
  }
}

// *** End of My Overlay ***
