@use '../abstract' as *;
@use '../base' as *;

// *** My Story ***
.my-story {
  overflow: hidden; // otestovat pri respon-e

  margin-top: 0;

  transition: transform 1s;

  @include dimension-settings(100%, $height: 100%);
  @include position-settings(0, 0, $zIndex: 200);
  @include flex-settings;

  //   display: none;

  &.active {
    transform: translateY(-150%);
  }

  // *** Container ***
  &__container {
    overflow: hidden; // otestovat pri respon-e

    backface-visibility: hidden;

    transform: translateZ(0);

    background:
      linear-gradient(#151515d2, $dark-primary),
      url('../../assets/images/my\ story\ bg.jpg') no-repeat;
    background-size: cover;

    will-change: transform;

    @include position-settings(0, 0, $zIndex: 1);
    @include flex-settings($direction: column, $gap: 4rem);
    @include dimension-settings(100%, $height: 100%);
  }
  // *** End of Container ***

  // *** Dragon ***
  &__dragon {
    transform: translateX(100%);

    backface-visibility: hidden;

    background: {
      image: url('../../assets/images/red-dragon.png');
      repeat: no-repeat;
      size: cover;
    }

    filter: drop-shadow(0 0 0.2rem $color-black);

    will-change: transform;

    @include position-settings(0, $right: 0, $zIndex: 2);
    @include dimension-settings(100%, 60rem, 60rem);

    &.active {
      animation: dragon-flight 9s ease-in forwards;

      // *** Responsive Design ***
      @include responsive-settings(desktop) {
        animation: dragon-flight 10.5s ease-in forwards;
      }
      @include responsive-settings(tablet-large) {
        animation: dragon-flight 12s ease-in forwards;

        @include position-settings(5rem, $right: 0, $zIndex: 2);
        @include dimension-settings(100%, 55rem, 55rem);
      }
      @include responsive-settings(tablet) {
        animation: dragon-flight 12.5s ease-in forwards;

        @include position-settings(10rem, $right: 0, $zIndex: 2);
        @include dimension-settings(100%, 50rem, 50rem);
      }
      // *** End of Responsive Design ***
    }
  }
  // *** End of Dragon ***

  // *** Characters ****
  &__characters {
    @include position-settings($position: relative, $zIndex: 5);
    @include dimension-settings(80vw);
    @include flex-settings($direction: column);

    // *** Responsive Design ***
    @include responsive-settings(desktop) {
      @include position-settings($position: relative, $left: 5rem);
    }

    @include responsive-settings(tablet-large) {
      @include position-settings($position: relative, $left: 0);
      @include flex-settings($gap: 4rem);
    }
    // *** End of Responsive Design ***
  }

  &__character {
    @include position-settings($position: relative);
    @include flex-settings;

    // ***  Responsive Design ***
    @include responsive-settings(tablet-large) {
      text-align: center;
      @include flex-settings($direction: column);
    }
    // ***  End of Responsive Design ***

    &-img-box {
      @include position-settings($position: relative);
      @include dimension-settings(100%, 26rem);

      // ***  Responsive Design ***
      @include responsive-settings(tablet) {
        @include dimension-settings(100%, 22rem);
      }
      // ***  End of Responsive Design ***
    }

    &-img {
      object-fit: cover;

      transition:
        transform 0.3s linear,
        opacity 0.3s linear;

      @include position-settings($position: static);
    }

    &-img-man,
    &-img-woman {
      opacity: 0.75;

      &.hide {
        transform: scale(0);
      }

      &.active {
        opacity: 1;
      }
    }

    &-img-woman {
      transition-delay: 0.3s;
    }

    &-img-rock-man,
    &-img-rock-woman {
      transform: scale(0);

      @include position-settings(0, -1.5rem);

      &.active {
        transform: scale(1);
      }
    }

    &-img-rock-woman {
      transition-delay: 0.3s;
    }

    &-title-box {
      @include position-settings($left: 6.2rem, $bottom: 0.4rem);

      // ***  Responsive Design ***
      @include responsive-settings(tablet) {
        @include position-settings($left: 5.2rem, $bottom: 0.4rem);
      }
      // ***  End of Responsive Design ***
    }

    &-description-box {
      margin-top: 4rem;
      margin-left: -4rem;

      @include dimension-settings(100%, 65rem);

      // ***  Responsive Design ***
      @include responsive-settings(tablet-large) {
        margin-top: 0;
        margin-left: 0;
      }

      @include responsive-settings(tablet) {
        margin-left: -3.2rem;
      }
      // ***  End of Responsive Design ***
    }

    &-description {
      color: $grey-primary;

      @include font-settings(1.8rem, 500, 2.8rem, 0);

      // ***  Responsive Design ***
      @include responsive-settings(tablet-large) {
        font-size: 1.6rem;
      }

      @include responsive-settings(tablet) {
        font-size: 1.4rem !important;
        line-height: 2.4rem;
      }

      @include responsive-settings(mobile-large) {
        font-size: 1.2rem;
        line-height: 2rem;
      }

      // ***  End of Responsive Design ***
    }

    &-bubble-box {
      transform: translateY(-68%);

      padding-inline: 1rem;

      border-radius: 1rem;

      background-color: $color-white;

      box-shadow: 0 0 0 0.2rem $grey-secondary;

      transition: opacity 0.325s ease-in;

      @include position-settings(68%, -10.8rem, $zIndex: 999);
      @include dimension-settings(100%, 18rem, 5rem);
      @include flex-settings;

      // ***  Responsive Design ***
      @include responsive-settings(tablet-large) {
        @include position-settings(68%, -12rem, $zIndex: 999);
      }

      @include responsive-settings(mobile-large) {
        padding-inline: 0;

        @include position-settings($left: -9rem);
        @include dimension-settings(100%, 15rem);
      }

      @include responsive-settings(mobile) {
        @include position-settings($left: -6.8rem);
        @include dimension-settings(100%, 13rem);
      }
      // ***  End of Responsive Design ***

      &::before {
        content: '';

        transform: rotate(65deg);

        border-bottom: 2rem solid transparent;
        border-top: 2rem solid transparent;
        border-left: 4rem solid $color-white;

        @include position-settings(3rem, $right: 0.06rem);
      }
    }

    &-bubble-message {
      color: $grey-secondary;

      @include font-settings(1.4rem, 700);

      // ***  Responsive Design ***
      @include responsive-settings(mobile-large) {
        @include font-settings(1.2rem);
      }
      // ***  End of Responsive Design ***
    }

    &-bubble-woman,
    &-bubble-man {
      opacity: 0;

      transition: opacity 0.3s linear;

      &.active {
        opacity: 1;
      }
    }
  }

  // *** End of Characters ****
}
// *** End of My Story ***
