@use '../abstract' as *;
@use '../base' as *;
@use './projects' as *;

// *** Services ***
.services {
  @extend .projects;

  // **** Wrapper ***
  &__wrapper {
    @extend .projects__wrapper;
  }
  // **** End of Wrapper ***

  // *** Menu | Item ***
  &__menu {
    column-gap: 4rem;
    row-gap: 4rem;

    @extend .projects__menu;
  }

  &__item {
    //  *** Box ***

    &-box {
      transform: scale(1);

      padding: 4rem 2.5rem;

      text-align: center;

      border-radius: 0.5rem;

      box-shadow:
        0.1rem 0.2rem 0.5rem $dark-overlay,
        inset -0.2rem -0.2rem 0.5rem $success-primary;

      transition: all 0.3s ease-out;

      @include dimension-settings(100%, 50rem);
      @include flex-settings(center, center, column, 2rem);

      &:hover {
        //destop
        transform: scale(1.05);
        // tablet a dole asi

        // *** Responsive Design ***
        @include responsive-settings(tablet-small) {
          transform: scale(1.03);
        }

        @include responsive-settings(mobile) {
          transform: none;
        }
        // *** End of Responsive Design ***
      }
    }

    //  *** End of Box ***

    // *** Icon ***
    &-icon {
      background-color: $success-primary;
      color: $color-white;

      padding: 2rem;

      border-radius: 0.5rem;

      box-shadow: 0.2rem 0.4rem 0.1rem $body-bg-color;

      @include font-settings(40px);
      @include flex-settings;
      @include dimension-settings(8.5rem, $height: 8.5rem);

      // *** Responsive Design ***
      @include responsive-settings(mobile) {
        padding: 1rem;
        @include dimension-settings(6.5rem, $height: 6.5rem);
      }
      // *** End of Responsive Design ***
    }
    // *** End of Icon ***
  }
  // *** End of Menu | Item ***
}
// *** End of Services ***
