@use '../abstract' as *;
@use '../base' as *;
@use './projects' as *;

// *** Showcase ***
.showcase {
  @extend .projects;

  // *** Wrapper ***
  &__wrapper {
    @extend .projects__wrapper;
  }
  // *** End of Wrapper ***

  // *** Container ***
  &__container {
    border-radius: 0.6rem;

    overflow: hidden;

    @include dimension-settings(100%, 110rem);
    @include flex-settings($direction: column);
    @include position-settings($position: relative);

    // *** Old School TV ***
    &-01 {
      background-color: rgba($color-white, $alpha: 0.7);

      @include dimension-settings($min-height: 69rem);
    }
    // *** End of Old School TV ***

    // *** Overlay ***
    &-overlay {
      text-align: center;

      background-color: $color-black;

      @include dimension-settings(100%, $height: 100%);
      @include position-settings(0, 0, $zIndex: 500);
      @include flex-settings;

      & .showcase__title {
        color: $color-white;
      }
    }
    // *** End of Overlay ***
  }
  // *** End of Container ***

  // *** Video Wrapper ***
  &__wrapper-video {
    aspect-ratio: 16 / 9;

    background-color: $dark-tertiary;

    border: 5rem solid $dark-tertiary;

    overflow: hidden;

    @include dimension-settings(100%);
    @include position-settings($position: relative);

    // *** Responsive Design ***
    @include responsive-settings(tablet) {
      border-width: 4rem;
    }

    @include responsive-settings(mobile) {
      border-width: 3rem;
    }
    // *** End of Responsive Design ***
  }
  // *** End of Video Wrapper ***

  // *** Video ***
  &__video {
    cursor: pointer;

    object-fit: cover;

    pointer-events: none;

    opacity: 0;

    transition: opacity 0.35s linear;

    @include dimension-settings(100%, $height: 100%);
    @include position-settings(0, 0);

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  // *** End of Video ***

  // *** Controls ***
  &__controls {
    background-color: $color-black;
    color: $color-white;

    padding: 2rem 5rem;

    @include position-settings($position: relative);
    @include dimension-settings(100%);
    @include flex-settings($gap: 1rem);

    // *** Responsive Design ***
    @include responsive-settings(tablet) {
      padding: 2rem 4rem;
    }

    @include responsive-settings(mobile) {
      padding: 2rem 3rem;
    }
    // *** End of Responsive Design ***

    &-icon {
      color: $color-white;

      transition: color 0.35s ease-out;

      @include font-settings(3.6rem);

      // *** Responsive Design ***
      @include responsive-settings(mobile) {
        @include font-settings(2.6rem);
      }
      // *** End of Responsive Design ***
    }

    &-progress {
      cursor: pointer;

      @include dimension-settings(100%);
    }

    &-progress::-webkit-slider-thumb {
      transition: transform 0.15s ease-out;
    }
    &-progress:hover::-webkit-slider-thumb {
      transform: scale(1.4);
    }

    &-time {
      @include dimension-settings(5.2rem);
    }
  }
  // *** End of Controls ***

  // *** Switcher ***
  &__video-switcher {
    flex-wrap: wrap;

    @include dimension-settings(100%, 60rem);
    @include flex-settings($gap: 1.5rem);
  }
  // *** End of Switcher ***
}
// *** End of Showcase ***
