@use '../abstract' as *;
@use '../base' as *;
@use './projects' as *;

// *** Showcase ***
.showcase {
  @extend .projects;

  // *** Wrapper ***
  &__wrapper {
    @extend .projects__wrapper;
  }
  // *** End of Wrapper ***

  // *** Container ***
  &__container {
    border-radius: 0.6rem;

    overflow: hidden;

    @include dimension-settings(100%, 110rem);
    @include flex-settings($direction: column);
    @include position-settings($position: relative);

    // *** Old School TV ***
    &-01 {
      // skusit 0.6 na konci namiesto 0.7
      background-color: rgba($color-white, $alpha: 0.7);

      min-height: 69rem;

      // display: none;
    }
    // *** End of Old School TV ***

    // *** Video Player ***
    &-02 {
      display: none;
    }
    // *** End of Video Player ***

    // *** Overlay ***
    &-overlay {
      background-color: transparent;

      @include dimension-settings(100%, $height: 100%);
      @include position-settings(0, 0);

      &-span {
        background-color: $color-black;

        @include position-settings(0, $zIndex: 500);
        @include dimension-settings(25%, $height: 100%);
      }

      &-span01 {
        @include position-settings($left: 0);
      }
      &-span02 {
        @include position-settings($left: 25%);
      }
      &-span03 {
        @include position-settings($left: 50%);
      }
      &-span04 {
        @include position-settings($left: 75%);
      }
    }
    // *** End of Overlay ***
  }
  // *** End of Container ***

  // *** Video ***
  &__video {
    border: 5rem solid $dark-tertiary;

    cursor: pointer;

    @include dimension-settings(100%);
  }
  // *** End of Video ***

  // *** Controls ***
  &__controls {
    background-color: $color-black;
    color: $color-white;

    padding: 2rem 5rem;

    @include position-settings($position: relative);
    @include dimension-settings(100%);
    @include flex-settings($gap: 1rem);

    &-btn {
      cursor: pointer;

      @include dimension-settings(3.6rem, $height: 3.9rem);
      @include flex-settings;
    }

    &-icon {
      color: $color-white;

      transition: color 0.35s ease-out;
    }

    &-progress {
      cursor: pointer;

      @include dimension-settings(100%);
    }

    &-progress::-webkit-slider-thumb {
      transition: transform 0.15s ease-out;
    }
    &-progress:hover::-webkit-slider-thumb {
      transform: scale(1.4);
    }

    &-time {
      @include dimension-settings(5.2rem);
    }
  }
  // *** End of Controls ***
}
// *** End of Showcase ***
