@use '../abstract' as *;

// *** Html | Body | Container ***
html {
  scroll-behavior: smooth;
}

body {
  color: $color-white;
  background-color: $body-bg-color;

  padding: 20px;

  font-family: $font-primary;

  overflow-x: hidden;

  @include dimension-settings(100vw, null, auto);
  @include flex-settings(center, null);
  @include position-settings($position: relative);
}

.container {
  background-color: $dark-primary;

  //   overflow-x: hidden;

  @include dimension-settings(100%, 1440px);
  @include position-settings($position: relative);
}
// *** End of Html | Body | Container ***

// *** Main | Section ***
main {
  margin-top: 104px;

  @include dimension-settings(100%);
}

section {
  padding-inline: 20px;
}
// *** End of Main | Section ***

// *** Back to top - Button ***
.back-to-top {
  color: $color-white;

  border: 1px solid $color-white;
  border-radius: 50%;

  transform: scale(0);
  opacity: 0;

  transition: all 0.5s;

  will-change: transform, opacity, color, border-color;

  @include position-settings($bottom: 20px, $right: 20px, $zIndex: 50);
  @include dimension-settings(45px, $height: 45px);
  @include font-settings(16px);
  @include flex-settings;

  &:hover,
  &:active {
    color: $success-primary;
    border-color: $success-primary;
  }

  &.active {
    transform: scale(1);
    opacity: 1;
  }
}
// *** End of Back to top - Button ***
