@use '../abstract' as *;

// *** Html | Body | Container ***
html {
  scroll-behavior: smooth;
  scrollbar-color: $success-primary $dark-secondary;
}

body {
  color: $color-white;
  background-color: $body-bg-color;

  padding: 2rem;

  font-family: $font-primary;

  overflow-x: hidden;

  @include dimension-settings(100vw, null, auto);
  @include flex-settings(center, null);
  @include position-settings($position: relative);
  @include font-settings(1.8rem, 500, 2.8rem, 0);

  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    padding: 0;
  }
  // *** End of Responsive Design ***
}

.container {
  background-color: $dark-primary;

  overflow: hidden;

  @include dimension-settings(100%, 144rem);
  @include position-settings($position: relative);
}
// *** End of Html | Body | Container ***

// *** Main | Section ***
.main {
  margin-top: 10.4rem;

  overflow: hidden;

  @include dimension-settings(100%);

  // *** Responsive Design ***
  @include responsive-settings(mobile-small) {
    margin-top: 0;
  }
  // *** End of Responsive Design ***
}

section {
  padding-inline: 2rem;

  // *** Responsive Design ***
  @include responsive-settings(mobile-small) {
    padding-inline: 1.25rem;
  }
  // *** End of Responsive Design ***
}
// *** End of Main | Section ***

// *** Back to top - Button ***
.back-to-top {
  color: $color-white;

  border: 0.1rem solid $color-white;
  border-radius: 50%;

  transform: scale(0);
  opacity: 0;

  transform-origin: center;

  transition: all 0.5s;

  will-change: transform, opacity, color, border-color;

  @include position-settings($bottom: 2rem, $right: 2rem, $zIndex: 50);
  @include dimension-settings(4.5rem, $height: 4.5rem);
  @include font-settings(1.6rem);
  @include flex-settings;

  &:hover,
  &:active {
    color: $success-primary;
    border-color: $success-primary;
  }

  &.active {
    transform: scale(1);
    opacity: 1;

    // *** Responsive Design ***
    @include responsive-settings(mobile) {
      transform: scale(1) translateX(-50%);

      @include position-settings($left: 50%, $right: 0);
    }
    // *** End of Responsive Design ***
  }
}
// *** End of Back to top - Button ***

.big-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: $success-secondary;
}
