@use '../abstract' as *;

// *** Html | Body | Container ***
html {
  scroll-behavior: smooth;
  scrollbar-color: $success-primary $dark-secondary;
}

body {
  color: $color-white;
  background-color: $body-bg-color;

  padding: 2rem;

  font-family: $font-primary;

  overflow-x: hidden;

  @include dimension-settings(100vw, null, auto);
  @include flex-settings(center, null);
  @include position-settings($position: relative);
  @include font-settings(1.8rem, 500, 2.8rem, 0);

  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    padding: 0;
  }
  // *** End of Responsive Design ***
}

.container {
  background-color: $dark-primary;

  overflow: hidden;

  @include dimension-settings(100%, 144rem);
  @include position-settings($position: relative);
}
// *** End of Html | Body | Container ***

// *** Main | Section ***
.main {
  margin-top: 10.4rem;

  overflow: hidden;

  @include dimension-settings(100%);

  // *** Responsive Design ***
  @include responsive-settings(mobile-small) {
    margin-top: 0;
  }
  // *** End of Responsive Design ***
}

section {
  padding-inline: 2rem;

  // *** Responsive Design ***
  @include responsive-settings(mobile-small) {
    padding-inline: 1.25rem;
  }
  // *** End of Responsive Design ***
}
// *** End of Main | Section ***

.big-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: $success-secondary;
}

// test github
.github-wrapper {
  width: 500px;
  height: 300px;
  border: 2px solid $success-primary;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }
}
// test github
