@use './mixins' as *;

// *** General ***
@keyframes lineX {
  to {
    transform: scaleX(1);
  }
}
@keyframes lineY {
  to {
    transform: scaleY(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;

    pointer-events: none;

    @include position-settings($zIndex: -1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
// *** End of General ***

// *** Intro ***
@keyframes intro {
  to {
    transform: translateY(-100%);
  }
}

@keyframes before-mouth {
  50% {
    transform: rotate(44deg);
  }
}

@keyframes after-mouth {
  50% {
    transform: rotate(-44deg);
  }
}

@keyframes move {
  to {
    transform: translateX(125rem);
  }
}

@keyframes fade-in-ghost-01 {
  to {
    transform: translateX(-50%) translateY(5%);
  }
}
@keyframes fade-in-ghost-02 {
  0% {
    transform: translateX(-50%) translateY(5%);
  }

  50%,
  90% {
    transform: translateX(-50%) translateY(-18%);
  }

  100% {
    transform: translateX(-50%) translateY(100%);
  }
}

@keyframes fade-in-ghost-03 {
  to {
    transform: translateX(-50%) translateY(-60%);
  }
}
@keyframes fade-in-ghost-04 {
  to {
    transform: translateX(-50%) translateY(100%);
  }
}

@keyframes ghost-smile {
  to {
    transform: translateY(-73%) translateX(-40%) scale(1);
  }
}
// *** End of Intro ***

// *** Header ***
@keyframes author-animate {
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes author-image {
  from {
    filter: blur(20px) grayscale(0.5) contrast(1.5) opacity(0.6) saturate(2.5);
  }
  to {
    filter: blur(0) grayscale(0.5) contrast(1.5) opacity(0.6) saturate(2.5);
  }
}

@keyframes circle {
  to {
    stroke-dashoffset: 0;
  }
}
// *** End of Header ***

// *** Skills ***
@keyframes span-animate-01 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(-41rem, -5rem);
  }
}
@keyframes span-animate-02 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(-5rem, -5rem);
  }
}
@keyframes span-animate-03 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(30rem, -5rem);
  }
}
@keyframes span-animate-04 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(-42rem, 10rem);
  }
}
@keyframes span-animate-05 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(-15rem, 10rem);
  }
}
@keyframes span-animate-06 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(20rem, 10rem);
  }
}

// *** Responsive Design ***
@include responsive-settings(desktop) {
  @keyframes span-animate-01 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(-35rem, -5rem);
    }
  }
}

@include responsive-settings(desktop-small) {
  @keyframes span-animate-01 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(-25.4rem, -10rem);
    }
  }

  @keyframes span-animate-02 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(13rem, -11.4rem);
    }
  }

  @keyframes span-animate-03 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(-23.6rem, 3.9rem);
    }
  }

  @keyframes span-animate-04 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(8rem, 3.6rem);
    }
  }

  @keyframes span-animate-05 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(-27.8rem, 17.2rem);
    }
  }

  @keyframes span-animate-06 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(4rem, 18.6rem);
    }
  }
}

@include responsive-settings(tablet) {
  @keyframes span-animate-01 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(6.7rem, -27.5rem);
    }
  }

  @keyframes span-animate-02 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(2.6rem, -15.8rem);
    }
  }

  @keyframes span-animate-03 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(-0.1rem, -4.9rem);
    }
  }

  @keyframes span-animate-04 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(-1.4rem, 7rem);
    }
  }

  @keyframes span-animate-05 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(-1.4rem, 18.2rem);
    }
  }

  @keyframes span-animate-06 {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;

      transform: translate(-6.9rem, 30.3rem);
    }
  }
}
// *** End of Responsive Design ***
@keyframes skills-box {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
// *** End of Skills ***

// *** Game ***
@keyframes shakeBox {
  0%,
  100% {
    transform: translateX(0.4rem);
  }

  25% {
    transform: translateX(-0.4rem);
  }
  50% {
    transform: translateX(0.4rem);
  }
  75% {
    transform: translateX(-0.4rem);
  }
}

@keyframes scaleBox {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
// *** End of Game ***

// *** My Story ***
@keyframes dragon-flight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-280%);
  }
}
// *** End of My Story ***

// *** My Process ***
@keyframes my-process-slider {
  0%,
  100% {
    opacity: 0;
  }

  10%,
  90% {
    opacity: 1;
  }
}
// *** End of My Process ***

// *** Footer ***
@keyframes flap-open {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    z-index: 3;
    transform: rotateX(0deg);
  }
}

@keyframes envelope-letter {
  0% {
    top: 0;
    transform: translateX(-50%) scale(1) scaleY(1);
    z-index: 3;
  }
  50% {
    top: -150%;
    transform: translateX(-50%) scale(1) scaleY(1);
    z-index: 3;
  }
  60% {
    top: -150%;
    transform: translateX(-50%) scale(1) scaleY(1.15);
    z-index: 999;
  }
  100% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.25) scaleY(1.5);
    z-index: 999;
  }
}

@keyframes show-heart {
  to {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes envelope-heart {
  to {
    opacity: 0;
    transform: translateX(-50%) scale(2);
  }
}
// *** End of Footer ***
