// *** Header ****
@keyframes author-animate {
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes author-line {
  to {
    transform: scaleX(1);
  }
}

@keyframes author-image {
  from {
    filter: blur(20px) grayscale(0.5) contrast(1.5) opacity(0.6) saturate(2.5);
  }
  to {
    filter: blur(0) grayscale(0.5) contrast(1.5) opacity(0.6) saturate(2.5);
  }
}
// *** End of Header ****

// *** Skills ***
@keyframes span-animate-01 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(-410px, -50px);
  }
}
@keyframes span-animate-02 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(-50px, -50px);
  }
}
@keyframes span-animate-03 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(300px, -50px);
  }
}
@keyframes span-animate-04 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(-420px, 100px);
  }
}
@keyframes span-animate-05 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(-150px, 100px);
  }
}
@keyframes span-animate-06 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: translate(200px, 100px);
  }
}

@keyframes skills-box {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
// *** End of Skills ***
