@use './variables' as *;
@use './mixins' as *;

// *** Sr Only ***
%sr-only {
  margin: -0.1rem;
  padding: 0;

  border: 0;

  overflow: hidden;

  clip-path: inset(50%);

  white-space: nowrap;

  @include position-settings;
  @include dimension-settings(0.1rem, $height: 0.1rem);
}
// *** End of Sr Only ***

// *** CTA - Button ***
%cta-btn {
  color: inherit;

  padding-bottom: 1rem;

  transition: color 0.35s 0.4s linear;

  cursor: pointer;

  @include position-settings($position: relative, $zIndex: 50);
  @include font-settings(1.6rem, 700, 2.6rem, 0.229rem);

  & span {
    background-color: $color-white;

    @include position-settings($bottom: 0, $left: 0);
    @include dimension-settings(100%, null, 0.2rem);

    &::before {
      content: '';

      background-color: $success-primary;

      transform: scale(0);
      transform-origin: left;

      transition: transform 0.35s linear;

      @include position-settings($bottom: 0, $left: 0, $zIndex: 100);
      @include dimension-settings(100%, null, 100%);
    }
  }

  &:hover,
  &:active {
    color: $success-primary;
  }

  &:hover span::before,
  &:active span::before {
    transform: scale(1);
  }
}
// *** End of CTA - Button ***

// *** Glowing Button ( Fun Facts, etc .. ) ***
%glowing-btn {
  color: $success-primary;

  background-color: transparent;

  padding: 1.6rem 2.8rem;

  border: 0.16rem solid $success-primary;

  cursor: pointer;

  transition: all 0.3s;

  text-transform: uppercase;
  @include font-settings(2.4rem, 700, null, 0.1rem);
  @include position-settings($position: relative, $zIndex: 50);

  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    padding: 1.3rem 2.5rem;

    @include font-settings(1.8rem, 700, null, 0.1rem);
  }
  // *** End of Responsive Design ***

  &:hover,
  &:active {
    color: $color-white;
    background-color: $success-secondary;

    border-color: transparent;

    box-shadow:
      0 0 0.8rem $success-primary,
      0 0 2.4rem $success-primary,
      0 0 4.8rem $success-primary;
  }

  &:focus {
    outline: 0;
    border-color: $success-primary;
  }
}
// *** End of Glowing Button ( Fun Facts, etc .. ) ***
