// *** Colors ***
$color-white: #fff;
$color-black: #000;

$body-bg-color: #f2f2f2;

$dark-primary: #151515;
$dark-secondary: #242424;
$dark-tertiary: #222;
$dark-quaternary: #434040;

$dark-overlay: rgba(0, 0, 0, 0.7);

$grey-primary: #d9d9d9;
$grey-secondary: #999;
$grey-tertiary: #a1a1a1;

$danger-primary: #ff6f5b;
$danger-secondary: #db3a24;

$success-primary: #4ee1a0;
$success-secondary: #3ec086;
$success-tertiary: #32b379;
$success-quaternary: #1f7a56;

$brown-primary: #6a3e2a;
$brown-secondary: #442918;

$yellow-primary: #f4d35e;
$blue-primary: #6e91ca;
$blue-secondary: #8fb6ff;
// *** End of Colors ***

// *** Font Family ***
$font-primary: 'Space Grotesk', sans-serif;
// *** End of Font Family ***
