@use '../abstract' as *;
@use '../base' as *;

// *** CSS Art Book - Behind the scenes ***
.my-process__book {
  perspective: 100rem;
  transform-style: preserve-3d;

  transition: transform 1s;

  user-select: none;
  -webkit-user-select: none;

  @include position-settings($position: relative);
  @include dimension-settings(100%, 25rem, 30rem);

  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    transform: scale(0.7);
  }
  // *** End of Responsive Design ***

  img {
    pointer-events: none;
    -webkit-user-drag: none;
  }

  p {
    font-size: 14px !important;
    line-height: 1.5;
    letter-spacing: 0.03rem;
    color: $color-black;
    opacity: 0.85;
    width: 95%;
    text-align: center;
  }

  &.active {
    transform: translateX(75%) scale(1.5);

    // *** Responsive Design ***
    @include responsive-settings(desktop) {
      transform: translateX(60%) scale(1.25);
    }
    @include responsive-settings(tablet) {
      transform: translateX(50%) scale(1);
    }
    @include responsive-settings(mobile-large) {
      transform: translateX(42%) scale(0.8);
    }

    @include responsive-settings(mobile) {
      //   transform: translateX(30%) scale(0.6);
      transform: translateX(36%) scale(0.7);
    }
    // *** End of Responsive Design ***
  }

  transform: scale(1);

  // *** Responsive Design ***
  @include responsive-settings(desktop) {
    // transform: translateX(60%) scale(1.25);
  }
  @include responsive-settings(tablet) {
    // transform: translateX(50%) scale(1);
  }
  @include responsive-settings(mobile-large) {
    // transform: translateX(42%) scale(0.8);
  }

  @include responsive-settings(mobile) {
    transform: scale(0.6);
  }
  // *** End of Responsive Design ***

  // *** Cover Front ***
  &-cover {
    transform-style: preserve-3d;
    transform-origin: left center;

    background-image: linear-gradient(
      to top,
      $success-secondary,
      $success-tertiary
    );

    text-align: center;

    // border-radius: 0 0.2rem 0.2rem 0;
    border-radius: 0 0.3rem 0.3rem 0;

    cursor: pointer;

    // box-shadow:
    //   inset 0.2rem 0 2rem rgba($color: $color-black, $alpha: 0.2),
    //   0 0 1rem rgba($color: $color-black, $alpha: 0.1);

    @include dimension-settings(100%, $height: 100%);
    @include position-settings(0, 0);
    // @include flex-settings($direction: column, $gap: 0.5rem);

    &--front {
      @include position-settings($zIndex: 100);
    }

    transform-origin: left;

    transition: transform 1s;
    transition: all 1s;

    &--front.active {
      transform: rotateY(-180deg);
    }

    &-front,
    &-back {
      transition: all 1s;

      backface-visibility: hidden;

      box-shadow:
        inset 0.2rem 0 2rem rgba($color: $color-black, $alpha: 0.2),
        0 0 1rem rgba($color: $color-black, $alpha: 0.1);

      @include position-settings(0, 0);
      @include flex-settings($direction: column, $gap: 0.5rem);
      @include dimension-settings(100%, $height: 100%);
    }

    &-front {
      //   z-index: 10;
    }

    &-back {
      background-image: linear-gradient(
        to top,
        $success-secondary,
        $success-tertiary
      );
      backface-visibility: hidden;

      box-shadow:
        inset 0.2rem 0 2rem rgba($color: $color-black, $alpha: 0.2),
        0 0 1rem rgba($color: $color-black, $alpha: 0.1);
      transform: rotateY(180deg);
      //   z-index: 10;
    }
  }
  // *** End of Cover Front ***

  // *** Cover Back ***
  &-cover--back {
    z-index: 2;

    &.active {
      transform: rotateY(-180deg);
      z-index: 130;
    }
    // *** End of Page 05 ***
  }
  // *** End of Cover Back ***

  // *** Page ***
  &-page {
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: left center;
    color: black;

    border-radius: 0 0.2rem 0.2rem 0;

    transform: translateY(-50%);
    transition: all 1s ease-out;

    background-color: $body-bg-color;

    box-shadow:
      inset 0.2rem 0 2rem rgba($color: $color-black, $alpha: 0.2),
      0 0 1rem rgba($color: $color-black, $alpha: 0.1);

    @include dimension-settings(97%, $height: 97%);
    @include position-settings(50%, 0);

    // *** Front | Back ***
    &-front,
    &-back {
      overflow: hidden;
      text-align: center;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      inset: 0;
      @include position-settings;
      @include dimension-settings(100%, $height: 100%);
      @include flex-settings;
    }

    &-back {
      transform: rotateY(180deg);
    }
    // *** End of Front | Back ***

    // *** Page 01 ***
    &--01 {
      z-index: 10;
    }
    &--01.active {
      transform: translateY(-50%) rotateY(-180deg);
      z-index: 105;
    }
    // *** End of Page 01 ***

    // *** Page 02 ***
    &--02 {
      z-index: 9;
    }

    &--02.active {
      transform: translateY(-50%) rotateY(-180deg);
      z-index: 110;
    }
    // *** End of Page 02 ***

    // *** Page 03 ***
    &--03 {
      z-index: 8;
    }

    &--03.active {
      transform: translateY(-50%) rotateY(-180deg);
      z-index: 115;
    }
    // *** End of Page 03 ***

    // *** Page 04 ***
    &--04 {
      z-index: 7;
    }

    &--04.active {
      transform: translateY(-50%) rotateY(-180deg);
      z-index: 120;
    }
    // *** End of Page 04 ***

    // *** Page 05 ***
    &--05 {
      z-index: 6;
    }

    &--05.active {
      transform: translateY(-50%) rotateY(-180deg);
      z-index: 125;
    }
    // *** End of Page 05 ***
  }
  // *** End of Page ***
}
// *** End of CSS Art Book - Behind the scenes ***
