@use '../abstract' as *;
@use '../base' as *;

// *** Header Lightbox Button ***
.header__author-button {
  min-width: 44.5rem;

  @include position-settings(0, $right: 0, $zIndex: 10);
  @include dimension-settings($min-height: 72rem);

  // *** Responsive Design ***
  @include responsive-settings(tablet) {
    pointer-events: none;

    min-width: 34rem;

    @include position-settings(0, $position: relative);
    @include dimension-settings($min-height: 55rem);
  }
  // *** End of Responsive Design ***
}
// *** End of Header Lightbox Button ***

// *** Main CTA Button ***
.header__button,
.projects__button,
.services__button,
.features__button,
.evolution__button,
.projects__box-button,
.future__button,
.milestones__button,
.faq__button,
.activity__button,
.game__button,
.showcase__button,
.footer__form-btn {
  @extend %cta-btn;
}

.projects__button,
.services__button,
.features__button,
.evolution__button,
.future__button,
.milestones__button,
.faq__button,
.activity__button,
.game__button,
.showcase__button {
  align-self: center;
}

.footer__form-btn {
  text-transform: uppercase;
}
// *** End of Main CTA Button ***

// *** Secondary Button ***
.features__fun-facts-button,
.my-overlay__button,
.showcase__switcher-btn,
.game__container-button {
  @extend %glowing-btn;
}
// *** End of Secondary Button ***

// *** Close Button - Modal | Lightbox | Overlay ***
.features__fun-facts-closebtn,
.header__lightbox-closebtn,
.footer__overlay-closebtn {
  cursor: pointer;

  padding: 0.5rem;

  transition: color 0.35s;

  @include position-settings(0.5rem, $right: 0.5rem);

  &:hover,
  &:active {
    color: $success-primary;
  }

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    color: $success-primary;
  }
}
// *** End of Close Button - Modal | Lightbox | Overlay ***

// *** FAQ - Accordion ***
.faq__item-question {
  text-align: left;

  color: $color-white;

  transition: color 0.35s;

  cursor: pointer;

  @include dimension-settings(100%);
  @include flex-settings(space-between, $gap: 1rem);

  &[aria-expanded='true'] .faq__item-question-icon {
    transform: rotate(180deg);
  }

  &:hover,
  &:active {
    color: $success-primary;
  }
}
// *** End of FAQ - Accordion ***

// *** Showcase ***
.showcase__controls-btn {
  cursor: pointer;

  @include dimension-settings(3.6rem, $height: 3.9rem);
  @include flex-settings;
}

.showcase__controls-btn-pause {
  @include position-settings(2rem, 5rem);
}

.showcase__controls-btn-play:hover .showcase__controls-icon-play,
.showcase__controls-btn-play:active .showcase__controls-icon-play {
  color: $success-tertiary;
}

.showcase__controls-btn-play:hover .showcase__controls-icon-pause,
.showcase__controls-btn-play:active .showcase__controls-icon-pause {
  color: $danger-secondary;
}

.showcase__controls-btn-reset:hover .showcase__controls-icon-reset,
.showcase__controls-btn-reset:active .showcase__controls-icon-reset {
  color: $yellow-primary;
}

.showcase__switcher-btn.active-video-button {
  color: $color-white;
  background-color: $success-quaternary;

  border-color: transparent;

  box-shadow:
    0 0 0.8rem $success-quaternary,
    0 0 2.4rem $success-quaternary,
    0 0 4.8rem $success-quaternary;
}

.showcase__switcher-btn:nth-child(2) {
  @include responsive-settings(tablet-small) {
    order: 1;
  }
}
// *** End of Showcase ***

// *** Footer - Envelope ***
.footer__envelope-button {
  cursor: pointer;
}
// *** End of Footer - Envelope ***

// *** Back to top - Button ***
.back-to-top {
  color: inherit;

  border: 0.1rem solid $color-white;
  border-radius: 50%;

  transform: scale(0);
  opacity: 0;

  transform-origin: center;

  transition: all 0.5s;

  will-change: transform, opacity, color, border-color;

  @include position-settings($bottom: 2rem, $right: 2rem, $zIndex: 50);
  @include dimension-settings(4.5rem, $height: 4.5rem);
  @include font-settings(1.6rem);
  @include flex-settings;

  &:hover,
  &:active {
    color: $success-primary;
    border-color: $success-primary;
  }

  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    opacity: 1;

    transform: scale(1) translateX(-50%);

    @include position-settings($left: 50%, $right: 0);
  }
  // *** End of Responsive Design ***

  &.active {
    transform: scale(1);
    opacity: 1;
  }
}
// *** End of Back to top - Button ***
