@use '../abstract' as *;
@use '../base' as *;

//  *** here are all headings without "fun facts component" ***

// *** Sr Only ***
.projects__description-sr-only,
.services__description-sr-only,
.features__description-sr-only,
.evolution__description-sr-only,
.future__description-sr-only,
.milestones__description-sr-only,
.faq__description-sr-only,
.activity__description-sr-only,
.game__description-sr-only,
.showcase__description-sr-only {
  @extend %sr-only;
}
// *** End of Sr Only ***

// *** General ***
p {
  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    @include font-settings(1.6rem !important, 500, 2.8rem, 0);
  }

  @include responsive-settings(mobile-small) {
    @include font-settings(1.4rem !important, 500, 2.8rem, 0);
  }
  // *** End of Responsive Design ***
}

p:not(
  li p,
  .header__lightbox-description,
  .footer__form-message,
  .my-story__character-bubble-message
) {
  color: $grey-primary;
}

.footer__envelope-letter p {
  color: $dark-overlay;

  @include font-settings(1rem !important, 500, 1.7rem);
}

.projects__description,
.services__description,
.features__description,
.evolution__description,
.future__description,
.milestones__description,
.faq__description,
.activity__description,
.game__description,
.showcase__description {
  text-align: center;
  @include dimension-settings(100%, 76rem, 5.6rem);
}

.features__item-description {
  text-align: left;

  @include font-settings(1.5rem, 500, 2.8rem);
}

.projects__item-description,
.services__item-description,
.milestones__item-description {
  @include flex-settings(null, null, $gap: 1.2rem);

  // *** Responsive Design ***
  @include responsive-settings(tablet-large) {
    @include flex-settings;
    @include font-settings(1.6rem, 500, 2.8rem, 0);
  }
  // *** End of Responsive Design ***
}

.projects__item-description,
.services__item-description,
.features__item-description,
.faq__item-answer {
  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    @include font-settings(1.4rem !important, 500, 2.8rem, 0);
  }
  // *** End of Responsive Design ***
}
// *** End of General ***

// *** Header ***
.header__description {
  margin-bottom: 6.6rem;
  @include dimension-settings(100%, 44.5rem);

  // *** Responsive Design ***
  @include responsive-settings(desktop) {
    margin-bottom: 5rem;
  }
  // *** End of Responsive Design ***
}
// *** End of Header ***

// *** Skills ***
.skills__menu-description {
  color: $grey-primary;
}
// *** End of Skills ***

// *** Projects ***
.projects__description {
  // *** Responsive Design ***
  @include responsive-settings(tablet-small) {
    @include dimension-settings(100%, 76rem, 8.4rem);
  }

  @include responsive-settings(mobile-small) {
    @include dimension-settings(100%, 76rem, 11.2rem);
  }
  // *** End of Responsive Design ***
}
// *** End of Projects ***

// *** Features - Fun Facts ***
.features__fun-facts-description {
  @include font-settings(1.6rem, 400, 1.4);

  &--strong {
    display: inline-block;
    margin-bottom: 1rem;
  }
}
// *** End of Features - Fun Facts ***

// *** FAQ - Accordion ***
.faq__item-answer {
  margin-top: 2rem;
  @include font-settings(1.6rem);

  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    margin-top: 1.5rem;
  }
  // *** End of Responsive Design ***
}
// *** End of FAQ - Accordion ***

// *** Milestones ***
.milestones__item-description {
  @include dimension-settings(100%, 76rem);
}
// *** End of Milestones ***

// *** Footer ***
.footer__description {
  text-align: left;

  @include dimension-settings($height: unset);
  @extend .projects__description;

  // *** Responsive Design ***
  @include responsive-settings(tablet-large) {
    text-align: center;
  }

  @include responsive-settings(mobile) {
    @include font-settings(1.6rem, 500, 2.8rem, 0);
  }
  // *** End of Responsive Design ***
}

// *** End of Footer ***
