@use '../abstract' as *;
@use '../base' as *;

// *** Sr Only ***
.projects__description-sr-only,
.services__description-sr-only,
.features__description-sr-only,
.evolution__description-sr-only,
.future__description-sr-only,
.milestones__description-sr-only,
.faq__description-sr-only,
.activity__description-sr-only,
.game__description-sr-only,
.showcase__description-sr-only,
.my-process__description-sr-only {
  @extend %sr-only;
}
// *** End of Sr Only ***

// *** General ***
p {
  // *** Responsive Design ***
  @include responsive-settings(mobile-small) {
    @include font-settings(1.4rem !important, 500, 2.8rem, 0);
  }
  // *** End of Responsive Design ***
}

p:not(
  li p,
  .header__lightbox-description,
  .footer__form-message,
  .my-story__character-bubble-message,
  .my-process__book-description
) {
  color: $grey-primary;
}

.projects__description,
.services__description,
.features__description,
.evolution__description,
.future__description,
.milestones__description,
.faq__description,
.activity__description,
.game__description,
.showcase__description,
.my-process__description {
  text-align: center;
  @include dimension-settings(100%, 76rem, 5.6rem);

  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    @include font-settings(1.6rem, 500, 2.8rem, 0);
  }
  // *** End of Responsive Design ***
}

.projects__item-description,
.services__item-description,
.milestones__item-description {
  @include flex-settings(null, null, $gap: 1.2rem);

  // *** Responsive Design ***
  @include responsive-settings(tablet-large) {
    @include flex-settings;
    @include font-settings(1.6rem, 500, 2.8rem, 0);
  }
  // *** End of Responsive Design ***
}

.projects__item-description,
.services__item-description,
.features__item-description,
.faq__item-answer {
  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    @include font-settings(1.4rem !important, 500, 2.8rem, 0);
  }
  // *** End of Responsive Design ***
}
// *** End of General ***

// *** Header ***
.header__description {
  margin-bottom: 6.6rem;
  @include dimension-settings(100%, 44.5rem);

  // *** Responsive Design ***
  @include responsive-settings(desktop) {
    margin-bottom: 5rem;
  }
  // *** End of Responsive Design ***
}
// *** End of Header ***

// *** Skills ***
.skills__menu-description {
  color: $grey-primary;
}
// *** End of Skills ***

// *** Projects ***
.projects__description {
  // *** Responsive Design ***
  @include responsive-settings(tablet-small) {
    @include dimension-settings(100%, 76rem, 8.4rem);
  }

  @include responsive-settings(mobile-small) {
    @include dimension-settings(100%, 76rem, 11.2rem);
  }
  // *** End of Responsive Design ***
}
// *** End of Projects ***

// *** Features ***
.features__item-description {
  text-align: left;

  @include font-settings(1.5rem, 500, 2.8rem);
}

.features__fun-facts-description {
  @include font-settings(1.6rem, 400, 1.4);

  &--strong {
    display: inline-block;
    margin-bottom: 1rem;
  }
}
// *** End of Features ***

// *** Evolution ***
.evolution__phase-mobile-sentence {
  transform: translateY(-3rem);

  opacity: 0;
  visibility: hidden;

  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}
// *** End of Evolution ***

// *** Future ***
.future__box-description {
  color: $color-white;

  @include font-settings(null, $line-height: 2);

  // *** Responsive Design ***
  @include responsive-settings(tablet-large) {
    @include font-settings(1.6rem, $line-height: 2);
  }
  // *** End of Responsive Design ***
}
// *** End of Future ***

// *** Milestones ***
.milestones__item-description {
  @include dimension-settings(100%, 76rem);
}
// *** End of Milestones ***

// *** FAQ - Accordion ***
.faq__item-answer {
  margin-top: 2rem;
  @include font-settings(1.6rem);

  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    margin-top: 1.5rem;
  }
  // *** End of Responsive Design ***
}
// *** End of FAQ - Accordion ***

// *** Game - Fallback Message ***

.game__fallback-message {
  text-align: center;
  @include dimension-settings(100%, 76rem);

  &-strong {
    @include font-settings(clamp(1.5rem, 3vw, 4rem), $line-height: 1.5);
  }
}
// *** End of Game - Fallback Message ***

// *** Process ***
.my-process__book-description {
  opacity: 0.85;

  text-align: center;
  @include font-settings(1.4rem, 500, 1.5, 0.03rem);
  @include dimension-settings(95%);
}
// *** End of Process ***

// *** Footer ***
.footer__description {
  text-align: left;

  @include dimension-settings($height: unset);
  @extend .projects__description;

  // *** Responsive Design ***
  @include responsive-settings(tablet-large) {
    text-align: center;
  }

  @include responsive-settings(mobile) {
    @include font-settings(1.6rem, 500, 2.8rem, 0);
  }
  // *** End of Responsive Design ***
}

// *** Form - Error Mesagge ***
.footer__form-message {
  color: $danger-primary;

  margin-top: 0.4rem;
  padding-left: 1rem;

  @include position-settings($position: relative);

  &--textarea {
    margin-top: 0;

    @include position-settings(-0.4rem, $position: relative);
  }

  &-span {
    display: inline-block;

    opacity: 0;

    transform: translate(-200px, -50px) rotate(-180deg) scale(3);

    transition:
      transform 0.3s,
      opacity 0.3s;
    transition-delay: calc(0.06s * var(--i));

    @include position-settings($position: relative);
    @include font-settings(1.2rem);
  }
  &.active .footer__form-message-span {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}
// *** End of Form - Error Mesagge ***

// *** Envelope - Letter ***
.footer__envelope .footer__envelope-letter-message {
  color: $dark-overlay;

  @include font-settings(1rem, 500, 1.7rem);
}

.footer__envelope .footer__envelope-description {
  color: $dark-overlay;
  @include font-settings(1.2rem, 500, 1.7rem);
}

.footer__envelope-letter-strong {
  color: $color-black;

  @include font-settings(null, $weight: 700);
}
// *** End of Envelope - Letter ***
// *** End of Footer ***
