@use '../abstract' as *;
@use '../base' as *;
@use './projects' as *;

// *** Features ***
.features {
  @extend .projects;

  // *** Wrapper ***
  &__wrapper {
    @extend .projects__wrapper;
  }
  // *** End of Wrapper ***

  &__container {
    @include position-settings($position: relative);
  }

  // *** Menu | Item ***
  &__menu {
    transition: filter 0.3s ease-out;

    flex-wrap: wrap;
    @include flex-settings($gap: 4rem);
    @include dimension-settings(100%, 110rem);

    &.active {
      filter: blur(1rem);
    }
  }

  &__item {
    //  *** Box ***
    &-box {
      padding: 2.5rem;

      text-align: center;

      border-radius: 0.5rem;

      box-shadow:
        0.1rem 0.2rem 0.5rem $dark-overlay,
        inset 0.2rem 0.2rem 0.5rem $success-primary;

      transition: all 0.3s ease-out;

      @include dimension-settings(100%, 48rem);
      @include flex-settings(null, center, $gap: 1rem);

      &:hover {
        transform: scale(1.05);

        // *** Responsive Design ***
        @include responsive-settings(tablet-small) {
          transform: scale(1.03);
        }

        @include responsive-settings(mobile) {
          transform: none;
        }
        // *** End of Responsive Design ***
      }
    }
    //  *** End of Box ***

    // *** Icon ***
    &-icon {
      color: $color-white;

      padding: 2rem;

      border-radius: 0.5rem;

      box-shadow: inset 0.1rem 0.1rem 0.5rem $success-primary;

      @include font-settings(3rem);
      @include dimension-settings(100%, 7rem);
      @include flex-settings;

      transition: background-color 0.5s;

      &.random-active {
        background-color: $success-primary;
      }
    }
    // *** End of Icon ***
  }
}
// *** End of Features ***
