@use '../abstract' as *;
@use '../base' as *;

// *** Form ***
.footer__form {
  color: $color-white;

  @include dimension-settings(100%, 44.5rem);
  @include flex-settings(null, null, column, 1rem);

  // *** Wrapper | Wrapper Textarea | Button ***
  &-wrapper {
    @include position-settings($position: relative);
    @include dimension-settings(100%);

    &--textarea {
      max-height: 100px;
      @include dimension-settings(100%, $height: 100%);
    }

    &--btn {
      text-align: right;
    }
  }
  // *** End of Wrapper | Wrapper Textarea | Button ***

  // *** Label - Sr Only ***
  &-label {
    @extend %sr-only;
  }
  // *** End of Label - Sr Only ***

  // *** Input ***
  &-input {
    background-color: transparent;

    border: 0;
    outline: 0;

    border-bottom: 0.2rem solid $grey-primary;

    padding-block: 1rem;
    padding-left: 1rem;

    transition: border-color 0.3s;

    @include dimension-settings(100%);
    @include font-settings(1.8rem, 700);

    &:focus {
      border-color: $blue-primary;
    }
  }
  // *** End of Input ***

  // *** Textarea ***
  &-textarea {
    background-color: transparent;

    border: 0;
    outline: 0;

    border-bottom: 0.2rem solid $grey-primary;

    padding-block: 1rem;
    padding-left: 1rem;

    margin-bottom: 0;

    transition: border-color 0.3s;

    resize: vertical;

    max-height: 9rem;
    @include dimension-settings(100%, 100%, 100%);
    @include font-settings(1.8rem, 700);

    &:focus {
      border-color: $blue-primary;
    }
  }
  // *** End of Textarea ***

  // *** Error Message ***
  &-message {
    color: $danger-primary;

    margin-top: 0.4rem;
    padding-left: 1rem;

    @include position-settings($position: relative);

    &-span {
      display: inline-block;

      opacity: 0;

      transform: translate(-200px, -50px) rotate(-180deg) scale(3);

      transition:
        transform 0.3s,
        opacity 0.3s;
      transition-delay: calc(0.06s * var(--i));

      @include position-settings($position: relative);
      @include font-settings(1.2rem);
    }
    &.active .footer__form-message-span {
      transform: translate(0) rotate(0) scale(1);
      opacity: 1;
    }
  }
  // *** End of Error Message ***

  // *** Error Message Line ***
  &-message-line {
    display: inline-block;

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.35s linear;

    @include dimension-settings(100%, $height: 0.2rem);
    @include position-settings($left: 0, $bottom: calc(100% - 5rem));

    &--textarea {
      background-color: $danger-primary;

      @include position-settings($left: 0, $bottom: calc(100% - 9rem));

      &.active {
        transform: scaleX(1);
      }
    }

    &--error {
      background-color: $danger-primary;

      &.active {
        transform: scaleX(1);
      }
    }

    &--success {
      background-color: $success-primary;
      transition-delay: 0.35s;

      &.active {
        transform: scaleX(1);
      }
    }
  }

  // *** End of Error Message Line ***
}
// *** End of Form ***
