@use '../abstract' as *;
@use '../base' as *;

// *** Fun Facts ***
.features__fun-facts {
  transform: translateY(-50%) translateX(-150%);

  text-align: center;

  padding: 4rem;

  border-radius: 0.5rem;
  box-shadow:
    0.1rem 0.2rem 0.5rem $dark-overlay,
    inset 0.2rem 0.2rem 0.5rem $success-primary;

  background: $dark-primary;

  backdrop-filter: blur(1rem);
  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease-out;

  @include dimension-settings(100%, 50rem);
  @include position-settings(50%, 50%, $zIndex: 100);

  &.active {
    opacity: 1;
    visibility: visible;

    transform: translateY(-50%) translateX(-50%);
  }

  // *** Menu ***
  &-menu {
    @include flex-settings(space-around, $direction: column, $gap: 3rem);
  }
  // *** End of Menu ***

  // *** Item ***
  &-item {
    @include flex-settings(space-around, $direction: column, $gap: 1rem);
  }
  // *** End of Item ***
}
// *** End of Fun Facts ***
