@use '../abstract' as *;
@use '../base' as *;
// *** Header ***
.header {
  padding-inline: 2rem;

  @include dimension-settings(100%);
  @include position-settings($position: relative);
  @include flex-settings(center, null);

  // *** Responsive Design ***
  @include responsive-settings(desktop) {
    padding-right: 0;
  }

  @include responsive-settings(tablet) {
    padding-left: 0;
  }
  // *** End of Responsive Design ***

  // *** Wrapper ***
  &__wrapper {
    @include dimension-settings(100%, 110rem, 72rem);
    @include position-settings($position: relative);

    // *** Responsive Design ***
    @include responsive-settings(tablet) {
      @include dimension-settings($height: unset);
      @include flex-settings(center, center, column, 4rem);
    }
    // *** End of Responsive Design ***
  }
  // *** End of Wrapper ***

  // *** Navigation ***
  &__navigation {
    padding: 4rem 2rem 0 0;

    @include dimension-settings(100%, null, 8rem);
    @include position-settings($zIndex: 20, $position: relative);
    @include flex-settings(space-between, null, null, 4rem);

    // *** Responsive Design ***
    @include responsive-settings(tablet) {
      padding-left: 2rem;
    }

    @include responsive-settings(mobile) {
      @include dimension-settings($height: unset);
      @include flex-settings(center, center, column, $gap: 2rem);
    }
    // *** End of Responsive Design ***
  }
  // *** End of Navigation ***

  // *** Logo ***
  &__logo {
    &:link,
    &:visited {
      color: inherit;

      clip-path: inset(0 100% 0 0);

      animation: author-animate 1s 1s ease forwards;

      @include font-settings(3.2rem, 700, 3.2rem, -0.044rem);
    }
  }
  // *** End of Logo ***

  // *** Menu ***
  &__menu {
    @include dimension-settings(100%, 20rem);
    @include flex-settings(space-between, $gap: 1rem);
  }
  // *** End of Menu ***

  // *** Social Media Links ***
  &__link {
    &:link,
    &:visited {
      color: inherit;

      transition: color 0.3s;

      @include font-settings(2.4rem);
    }

    &:hover,
    &:active {
      color: $success-primary;
    }
  }
  // *** End of Social Media Links ***

  // *** Content | Heading | Description | Button ***
  &__content {
    @include position-settings(16rem, 0, null, null, 20, relative);
    @include dimension-settings(100%, 70.6rem, 100%, 40.7rem);

    // *** Responsive Design ***
    @include responsive-settings(desktop) {
      @include dimension-settings(100%, 56rem, 100%, 40.7rem);
    }

    @include responsive-settings(desktop-small) {
      @include dimension-settings(100%, 36.6rem, 100%, 40.7rem);
    }

    @include responsive-settings(tablet) {
      text-align: center;

      order: 2;

      @include position-settings($position: static);
    }
    // *** End of Responsive Design ***
  }

  &__heading {
    margin-bottom: 4.6rem;

    @include font-settings(8.8rem, 700, 8.8rem, -0.25rem);

    // *** Responsive Design ***
    @include responsive-settings(desktop) {
      @include font-settings(7rem, $line-height: 7rem);
    }

    @include responsive-settings(desktop-small) {
      @include font-settings(6rem, $line-height: 6rem);
    }

    @include responsive-settings(mobile-small) {
      @include font-settings(4.5rem, $line-height: 5.5rem);
    }
    // *** End of Responsive Design ***

    &-author {
      @include position-settings($position: relative);

      &::before {
        content: '';

        background-color: $success-primary;

        transform: scaleX(0);
        transform-origin: left;

        animation: line 0.6s 1.5s forwards linear;

        @include position-settings($left: 0, $bottom: 0.5rem, $zIndex: -1);
        @include dimension-settings(100%, $height: 0.6rem);
      }
    }
  }
  &__description {
    color: $grey-primary;

    margin-bottom: 6.6rem;

    @include font-settings(1.8rem, 500, 2.8rem, 0);
    @include dimension-settings(100%, 44.5rem);

    // *** Responsive Design ***
    @include responsive-settings(desktop) {
      margin-bottom: 5rem;
    }
    // *** End of Responsive Design ***
  }

  &__button {
    color: inherit;

    padding-bottom: 1rem;

    transition: color 0.35s 0.4s linear;

    cursor: pointer;

    @include position-settings($position: relative);
    @include font-settings(1.6rem, 700, 2.6rem, 0.229rem);

    & span {
      background-color: $color-white;

      @include position-settings($bottom: 0, $left: 0);
      @include dimension-settings(100%, null, 0.2rem);

      &::before {
        content: '';

        background-color: $success-primary;

        transform: scale(0);
        transform-origin: left;

        transition: transform 0.35s linear;

        @include position-settings($bottom: 0, $left: 0, $zIndex: 100);
        @include dimension-settings(100%, null, 100%);
      }
    }

    &:hover,
    &:active {
      color: $success-primary;
    }

    &:hover span::before,
    &:active span::before {
      transform: scale(1);
    }
  }
  // *** End of Content | Heading | Description | Button ***

  // *** Img - Ring | Circle | Author ***
  &__ring {
    @include position-settings(18rem, -27.2rem);

    // *** Responsive Design ***
    @include responsive-settings(desktop-small) {
      @include position-settings(16.6rem, -34.5rem);
    }

    @include responsive-settings(mobile) {
      @include position-settings(12.6rem, -33rem);
    }

    @include responsive-settings(mobile-small) {
      @include position-settings(18.1rem, calc(24.4rem * -1));
    }
    // *** End of Responsive Design ***
  }
  &__svg {
    @include position-settings(52.1rem, $right: 38.25rem, $zIndex: 20);

    // *** Responsive Design ***
    @include responsive-settings(desktop) {
      @include position-settings($right: -6.4rem);
    }

    // *** End of Responsive Design ***

    &-circle {
      stroke-dasharray: 500;
      stroke-dashoffset: 500;

      animation: circle 1s 2.25s linear forwards;

      transition: stroke 0.3s;
    }
  }

  &__author {
    cursor: pointer;

    object-fit: cover;

    filter: blur(2rem) grayscale(0.5) contrast(1.5) opacity(0.6) saturate(2.5);

    animation: author-image 0.4s linear 2s forwards;

    min-width: 44.5rem;
    @include dimension-settings($height: 100%);
    @include position-settings(0, $right: 0, $zIndex: 10);

    @include responsive-settings(tablet) {
      min-width: 34rem;
      @include dimension-settings($height: 55rem);
      @include position-settings(0, $position: relative);
    }
  }
  // *** End of Img - Ring | Circle | Author ***

  // *** Lightbox ***
  &__lightbox {
    background-color: rgba($color: $color-black, $alpha: 0.8);

    padding: 1rem;

    cursor: pointer;

    backdrop-filter: blur(0.8rem);

    @include position-settings(0, 0, $zIndex: 50, $position: fixed);
    @include dimension-settings(100%, $height: 100%);
    @include flex-settings(center, center, column, 1.5rem);

    &.show,
    &.hidden {
      transition: opacity 0.25s linear;
    }

    &.show {
      opacity: 1;
    }

    &.hidden {
      opacity: 0;
      @include position-settings($position: fixed, $zIndex: -999);
    }

    &-author {
      border: 0.5rem solid $color-white;

      max-height: 80vh;
      @include dimension-settings($height: auto);
    }

    &-description {
      text-align: center;
      @include font-settings(1.6rem, 700);
    }
  }
  // *** End of Lightbox ***
}
// *** End of Header ***
