@use '../abstract' as *;
@use '../base' as *;

// *** General ***
.header__logo,
.footer__logo {
  &:link,
  &:visited {
    color: inherit;

    clip-path: inset(0 100% 0 0);

    @include font-settings(3.2rem, 700, 3.2rem, -0.044rem);

    // *** Responsive Design ***
    @include responsive-settings(mobile-large) {
      clip-path: none;
      animation: none;
    }
    // *** End of Responsive Design ***
  }
}

.header__logo {
  &:link,
  &:visited {
    animation: author-animate 1s 1s ease forwards;
  }
}

.footer__logo.active {
  &:link,
  &:visited {
    animation: author-animate 1s 1s ease forwards;
  }
}

// *** End of General ***
