@use '../abstract' as *;
@use '../base' as *;

// *** General ***
.header__navigation,
.footer__navigation {
  @include flex-settings(space-between, null, null, 4rem);
}
// *** End of General ***

// *** Header ***
.header__navigation {
  padding: 4rem 2rem 0 0;

  @include dimension-settings(100%, null, 8rem);
  @include position-settings($position: relative, $zIndex: 20);

  // *** Responsive Design ***
  @include responsive-settings(tablet) {
    padding-left: 2rem;
  }

  @include responsive-settings(mobile) {
    @include dimension-settings($height: unset);
    @include flex-settings(center, center, column, $gap: 2rem);
  }
  // *** End of Responsive Design ***
}
// *** End of Header ***

// *** Footer ***
.footer__navigation {
  padding-top: 4.7rem;

  @include dimension-settings(100%, 110rem, 8rem);
  @include position-settings($position: relative);

  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    min-height: 8rem;
    @include dimension-settings($height: 100%);
    @include flex-settings(center, center, column);
  }
  // *** End of Responsive Design ***

  &-line {
    background-color: $color-white;

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.5s linear;

    @include dimension-settings(100%, $height: 0.1rem);
    @include position-settings(0);

    &.active {
      transform: scaleX(1);
    }
  }
}
// *** End of Footer ***
