@use '../abstract' as *;
@use '../base' as *;

// *** Old School TV ***
.showcase__tv {
  transform: translateX(-50%) translateY(-50%);

  @include dimension-settings(100%, 50rem, 65rem);
  @include position-settings(50%, 50%);
}

// *** Lightning Spark ***
.showcase__lightning {
  transform: rotate(15deg);

  @include dimension-settings(100%, $height: 100%);
  @include position-settings(-6.8rem, -1.4rem, $zIndex: 50);

  & path {
    opacity: 0;

    fill: none;

    stroke: $blue-secondary;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;

    filter: drop-shadow(0 0 4px rgba($blue-primary, 0.9))
      drop-shadow(0 0 10px rgba($blue-primary, 0.6))
      drop-shadow(0 0 18px rgba($blue-primary, 0.3));

    filter: drop-shadow(0 0 2px $blue-primary)
      drop-shadow(0 0 8px $blue-primary)
      drop-shadow(0 0 14px rgba($blue-primary, 0.7))
      drop-shadow(0 0 24px rgba($blue-primary, 0.4));

    stroke-dasharray: 300;
    stroke-dashoffset: 300;
  }
}
// *** End of Lightning Spark ***

// *** Antennas ***
.showcase__antennas {
  transform: translateX(-66.5%) translateY(-1%);

  @include dimension-settings(100%, 24rem, 17rem);
  @include position-settings(1%, 66.5%);

  // *** Base ***
  &-base {
    transform: translateX(-40%);

    background-color: $brown-primary;

    border: 0.4rem solid $brown-secondary;
    border-radius: 50%;

    @include dimension-settings(100%, 6rem, 6rem);
    @include position-settings($left: 40%, $bottom: -3rem);
  }
  // *** End of Base ***

  // *** Left | Right ***
  &-left,
  &-right {
    background-color: $brown-secondary;

    @include dimension-settings(100%, 0.4rem);

    &::before {
      content: '';
      transform: translateX(-50%);

      background-color: $brown-secondary;

      border-radius: 50%;

      @include dimension-settings(1.1rem, $height: 1.1rem);
      @include position-settings(0, 50%);
    }
  }
  // *** End of Left | Right ***

  // *** Left ***
  &-left {
    transform: rotate(-32deg);

    @include position-settings(0, 5rem);
    @include dimension-settings($height: 17rem);
  }
  // *** End of Left ***

  // *** Right ***
  &-right {
    transform: rotate(50deg);

    @include position-settings($right: 6.5rem, $bottom: -1rem);
    @include dimension-settings($height: 13rem);
  }
  // *** End of Right ***
}
// *** End of Antennas ***

// *** TV - Body ***
.showcase__body {
  transform: translateX(-50%) translateY(-52%);

  border: 0.4rem solid rgba($success-quaternary, 0.4);

  border-radius: 0.8rem;

  background-color: $success-tertiary;

  @include dimension-settings(100%, 48rem, 32rem);
  @include position-settings(52%, 50%, $zIndex: 100);
  @include flex-settings;

  // *** Inner ***
  &-inner {
    padding: 1.2rem;

    background-color: transparent;

    border: 0.5rem solid $success-quaternary;
    border-radius: 0.8rem;

    @include dimension-settings(90%, $height: 90%);
    @include flex-settings($gap: 1.2rem);

    // *** Screen ***
    &-screen {
      padding: 2rem;

      background-color: $dark-quaternary;

      border-radius: 0.8rem;

      overflow: hidden;

      @include dimension-settings(70%, $height: 100%);
      @include position-settings($position: relative);
      @include flex-settings;

      // *** Overlay ***
      &-overlay {
        transform: translate(-50%, -50%);

        padding: 2rem;

        overflow: hidden;

        border: 0.4rem solid $dark-secondary;
        border-radius: 1.5rem;

        @include dimension-settings(85%, $height: 82%);
        @include position-settings(50%, 50%, $zIndex: 999);
      }
      // *** End of Overlay ***

      // *** Gradient ***
      &-gradient {
        overflow: hidden;

        background-position: center center;
        background: linear-gradient(
          to right,
          #cc3d3d 0%,
          #cc3d3d 16.66%,
          #cc9900 16.66%,
          #cc9900 33.33%,
          #4dcc4d 33.33%,
          #4dcc4d 50%,
          #2aa3cc 50%,
          #2aa3cc 66.66%,
          #7a52cc 66.66%,
          #7a52cc 83.33%,
          #cc4da3 83.33%,
          #cc4da3 100%
        );

        filter: url(#displacement);

        @include dimension-settings(120%, $height: 120%);
        @include position-settings(-1.7rem, -2.8rem);
      }
      // *** End of Gradient ***

      // *** Video ***
      &-video {
        object-fit: cover;

        border: 0.4rem solid $dark-secondary;
        border-radius: 1.5rem;

        @include dimension-settings(100%, $height: 100%);
      }
      // *** End of Video ***
    }
    // *** End of Screen ***

    // *** Controls ***
    &-controls {
      background-color: $dark-quaternary;

      padding: 1rem;

      border-radius: 0.8rem;

      @include dimension-settings(30%, $height: 100%);
      @include flex-settings(start, center, column);
    }
    // *** End of Controls ***

    // *** Wrapper | Buttons ***
    &-wrapper {
      background-color: $success-primary;

      margin-bottom: 0.5rem;

      border-radius: 50%;
      border: 0.4rem solid $success-quaternary;

      @include dimension-settings(100%, 7rem, 7rem);
      @include flex-settings;
      @include position-settings($position: relative);

      // *** Inner Wrapper 01 ***
      &-01 {
        &::before {
          content: '';

          border-radius: 50%;

          background: repeating-conic-gradient(
            from 0deg,
            rgba($success-quaternary, 0.8) 0deg 2deg,
            transparent 7deg 28deg
          );

          @include position-settings(0, 0, 0, 0);
        }
      }
      // *** End of Inner Wrapper 01 ***

      // *** Inner Wrapper 02 ***
      &-02 {
        margin-bottom: 1rem;
      }
      // *** End of Inner Wrapper 02 ***
    }

    // *** Button ***
    &-btn {
      cursor: pointer;

      overflow: hidden;

      border-radius: 50%;

      @include dimension-settings(100%, 4rem, 4rem);

      &-span {
        display: inline-block;

        background-color: $success-quaternary;

        @include dimension-settings(100%, 0.5rem, 120%);
      }

      // *** Inner Button 01 ***
      &-01 {
        transform: rotate(0);

        background-color: $success-tertiary;

        border: 0.4rem solid $success-quaternary;

        transition: transform 0.35s ease-out;

        &.active {
          transform: rotate(40deg);
        }
      }
      // *** End of Inner Button 01 ***

      // *** Inner Button 02 ***
      &-02 {
        backdrop-filter: blur(0.8rem);

        background-color: $success-tertiary;

        box-shadow:
          0 0.2rem 0.5rem rgba($color-black, 0.25),
          inset 0 0.1rem 0 rgba($color-white, 0.25),
          inset 0 -0.2rem 0 rgba($color-black, 0.2),
          inset 0 -0.2rem 0 rgba($color-black, 0.25);
      }

      &-02:active {
        transform: translateY(0.25rem) scale(0.98);

        box-shadow:
          0 0.2rem 0.6rem rgba($color-black, 0.3),
          inset 0 0.3rem 0.6rem rgba($color-black, 0.35);
      }
      // *** End of Inner Button 02 ***
    }
    // *** End of Button ***
    // *** End of Wrapper | Buttons ***

    // *** Speaker ***
    &-speaker {
      background-color: $dark-primary;

      border-radius: 0.25rem;

      box-shadow:
        0 1rem 0 $dark-primary,
        0 2rem 0 $dark-primary,
        0 3rem 0 $dark-primary,
        0 4rem 0 $dark-primary,
        0 5rem 0 $dark-primary,
        0 6rem 0 $dark-primary;

      @include dimension-settings(100%, $height: 0.7rem);
    }
    // *** End of Speaker ***
    // *** End of Controls ***
  }
  // *** End of Inner ***

  // *** Bottom ***
  &-bottom {
    transform: translate(-50%, -76.5%);

    background-color: $success-tertiary;

    border: 0.4rem solid rgba($success-quaternary, 0.4);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    @include dimension-settings(90%, $height: 2rem);
    @include position-settings(76.5%, 50%, $zIndex: 2);
  }
  // *** End of Bottom ***
}
// *** End of TV - Body ***

// *** Table ***
.showcase__table {
  transform: translateX(-50%);

  @include dimension-settings(100%, 48rem, 14rem);
  @include position-settings($left: 50%, $bottom: 0.9rem, $zIndex: 50);

  // *** Body ***
  &-body {
    transform: translateX(-50%);

    background-color: $brown-primary;

    border-top: 0.4rem solid $brown-secondary;
    border-bottom: 0.4rem solid $brown-secondary;

    @include dimension-settings(100%, 40rem, 3rem);
    @include position-settings(0, 50%);

    // *** Helper ***
    &-helper {
      transform: translateX(-50%);

      background-color: $brown-primary;

      @include dimension-settings(100%, 40rem, 2.2rem);

      @include position-settings(0.44rem, 50%, $zIndex: 100);
    }
    // *** End of Helper ***
  }
  // *** End of Body ***

  // *** Legs ***
  &-leg {
    & > div:nth-child(1) {
      background-color: $brown-primary;

      border-top: 0.4rem solid $brown-secondary;
      border-left: 0.4rem solid $brown-secondary;
      border-bottom: 0.4rem solid $brown-secondary;

      @include dimension-settings(45%, $height: 100%);
      @include position-settings(0, 0, $zIndex: 50);
    }
    & > div:nth-child(2) {
      transform: rotate(5deg);

      background-color: $brown-primary;

      border-right: 0.4rem solid $brown-secondary;

      @include dimension-settings(40%, $height: 90%);
      @include position-settings($right: 1.3rem, $bottom: 0);
    }
  }

  // *** Left ***
  &-leg-left {
    transform: rotate(20deg) skewY(-18deg);

    @include dimension-settings(100%, 4rem, 14rem);
    @include position-settings(-0.3rem, 1.4rem);
  }
  // *** End of Left ***

  // *** Right ***
  &-leg-right {
    transform: scaleX(-1) rotate(20deg) skewY(-18deg);

    @include dimension-settings(100%, 4rem, 14rem);
    @include position-settings(-0.3rem, unset, 1.4rem);
  }
  // *** End of Right ***
  // *** End of Legs ***
}
// *** End of Table ***
// *** End of Old School TV ***
