@use '../abstract' as *;
@use '../base' as *;
@use './projects' as *;

// *** Services ***
.services {
  @extend .projects;

  // **** Wrapper ***
  &__wrapper {
    @extend .projects__wrapper;
  }
  // **** End of Wrapper ***

  // *** Title ***
  &__title {
    @extend .projects__title;
  }
  // *** End of Title ***

  // *** Description ***
  &__description {
    @extend .projects__description;
  }
  // *** End of Description ***

  // *** Button ***
  &__button {
    align-self: center;
    @extend .projects__button;
  }
  // *** End of Button ***

  // *** Menu | Item ***
  &__menu {
    column-gap: 40px;
    row-gap: 40px;

    @extend .projects__menu;
  }

  &__item {
    //  *** Box ***
    // filter: drop-shadow(1px 0px 1px white);
    &-box {
      padding: 25px;

      text-align: center;

      border-radius: 5px;

      box-shadow: 1px 2px 5px $body-bg-color;

      transition: all 0.3s ease-out;

      @include dimension-settings(100%, 500px);
      @include flex-settings(center, center, column, 20px);

      &:hover {
        transform: scale(1.05);
      }
    }

    //  *** End of Box ***

    // *** Icon ***
    &-icon {
      background-color: $success-primary;
      color: $color-white;

      padding: 20px;

      border-radius: 5px;

      box-shadow: 2px 4px 1px $body-bg-color;

      @include font-settings(40px);
    }
    // *** End of Icon ***

    //  *** Heading | Description ***
    &-heading {
      //   color: $dark-secondary;

      margin-top: 20px;

      @include font-settings(24px, 700, 32px);
    }

    &-description {
      //   color: $dark-secondary;

      @include flex-settings(null, null, $gap: 12px);
      @include font-settings(18px, 500, 28px);
    }
    //  *** End of Heading | Description ***
  }
  // *** End of Menu | Item ***
}
// *** End of Services ***
