@use '../abstract' as *;
@use '../base' as *;
@use './projects' as *;

// *** Services ***
.services {
  @extend .projects;

  // **** Wrapper ***
  &__wrapper {
    @extend .projects__wrapper;
  }
  // **** End of Wrapper ***

  // *** Title ***
  &__title {
    @extend .projects__title;
  }
  // *** End of Title ***

  // *** Description ***
  &__description {
    @extend .projects__description;
  }
  // *** End of Description ***

  // *** Button ***
  &__button {
    align-self: center;
    @extend .projects__button;
  }
  // *** End of Button ***

  // *** Menu | Item ***
  &__menu {
    column-gap: 4rem;
    row-gap: 4rem;

    @extend .projects__menu;
  }

  &__item {
    //  *** Box ***
    // filter: drop-shadow(1px 0px 1px white);
    &-box {
      padding: 2.5rem;

      text-align: center;

      border-radius: 0.5rem;

      box-shadow:
        0.1rem 0.2rem 0.5rem $dark-overlay,
        inset -0.2rem -0.2rem 0.5rem $success-primary;

      transition: all 0.3s ease-out;

      @include dimension-settings(100%, 50rem);
      @include flex-settings(center, center, column, 2rem);

      &:hover {
        transform: scale(1.05);
      }
    }

    //  *** End of Box ***

    // *** Icon ***
    &-icon {
      background-color: $success-primary;
      color: $color-white;

      padding: 2rem;

      border-radius: 0.5rem;

      box-shadow: 0.2rem 0.4rem 0.1rem $body-bg-color;

      @include font-settings(40px);
    }
    // *** End of Icon ***

    //  *** Heading | Description ***
    &-heading {
      //   color: $dark-secondary;

      margin-top: 2rem;

      @include font-settings(2.4rem, 700, 3.2rem);
    }

    &-description {
      //   color: $dark-secondary;

      @include flex-settings(null, null, $gap: 1.2rem);
      @include font-settings(1.8rem, 500, 2.8rem);
    }
    //  *** End of Heading | Description ***
  }
  // *** End of Menu | Item ***
}
// *** End of Services ***
