@use '../abstract' as *;
@use '../base' as *;

// *** General ***
.header__title,
.projects__title,
.services__title,
.features__title,
.evolution__title,
.future__title,
.milestones__title,
.faq__title,
.activity__title,
.game__title,
.showcase__title,
.footer__title,
.my-process__title,
.showcase__container-title {
  @include font-settings(8.8rem, 700, 8.8rem, -0.25rem);

  // *** Responsive Design ***
  @include responsive-settings(tablet-small) {
    @include font-settings(7.2rem, 700, 7.2rem, -0.25rem);
  }

  @include responsive-settings(mobile-large) {
    @include font-settings(3.8rem, 700, 4rem, -0.25rem);
  }
  // *** End of Responsive Design ***
}

.projects__title,
.services__title,
.features__title,
.evolution__title,
.future__title,
.milestones__title,
.faq__title,
.activity__title,
.game__title,
.showcase__title,
.my-process__title,
.footer__title {
  position: relative;

  color: $dark-quaternary;

  &-span {
    color: $color-white;

    overflow: hidden;

    transition: width 0.5s;

    will-change: width;

    @include dimension-settings(0%);
    @include position-settings(0, 0);

    &.active {
      @include dimension-settings(100%);
    }
  }
}

.projects__item-heading,
.services__item-heading {
  margin-top: 2rem;

  @include font-settings(2.4rem, 700, 3.2rem);

  // *** Responsive Design ***
  @include responsive-settings(tablet-large) {
    text-align: center;

    @include font-settings(2rem, 700, 3.2rem);
  }
  // *** End of Responsive Design ***
}
// *** End of General ***

// *** Sr Only ***
.intro-sr-only,
.skills__title-sr-only,
.features__fun-facts-heading {
  @extend %sr-only;
}
// *** End of Sr Only ***

// *** Header - H1 ***
.header__title {
  margin-bottom: 4.6rem;

  // *** Responsive Design ***
  @include responsive-settings(desktop) {
    @include font-settings(7rem, $line-height: 7rem);
  }

  @include responsive-settings(desktop-small) {
    @include font-settings(6rem, $line-height: 6rem);
  }

  @include responsive-settings(mobile-small) {
    @include font-settings(4.5rem, $line-height: 5.5rem);
  }
  // *** End of Responsive Design ***

  &-author {
    @include position-settings($position: relative);

    &.active::before {
      animation: lineX 0.6s 2.6s forwards linear; //  2.6

      // *** Responsive Design ***
      @include responsive-settings(mobile-large) {
        animation: none;
      }
      // *** End of Responsive Design ***
    }

    &::before {
      content: '';

      background-color: $success-primary;

      transform: scaleX(0);
      transform-origin: left;

      @include position-settings($left: 0, $bottom: 0.5rem, $zIndex: -1);
      @include dimension-settings(100%, $height: 0.6rem);

      // *** Responsive Design ***
      @include responsive-settings(mobile-large) {
        transform: scale(1);
      }
      // *** End of Responsive Design ***
    }
  }
}
// *** End of Header - H1 ***

// *** Skills ***
.skills__title {
  transform: translate(-50%, -50%);

  @include position-settings(50%, 50%);
  @include font-settings(6.8rem, 700, 8.8rem, 0.25rem);

  & span {
    display: inline-block;

    @include position-settings($position: relative);
  }

  &.is-active span:nth-child(1) {
    opacity: 1;
    transform: translate(0, 0);
    animation: span-animate-01 0.35s 1s forwards;
  }
  &.is-active span:nth-child(2) {
    opacity: 1;
    transform: translate(0, 0);
    animation: span-animate-02 0.35s 1.5s forwards;
  }
  &.is-active span:nth-child(3) {
    opacity: 1;
    transform: translate(0, 0);
    animation: span-animate-03 0.35s 2s forwards;
  }
  &.is-active span:nth-child(4) {
    opacity: 1;
    transform: translate(0, 0);
    animation: span-animate-04 0.35s 2.5s forwards;
  }
  &.is-active span:nth-child(5) {
    opacity: 1;
    transform: translate(0, 0);
    animation: span-animate-05 0.35s 3s forwards;
  }
  &.is-active span:nth-child(6) {
    opacity: 1;
    transform: translate(0, 0);
    animation: span-animate-06 0.35s 3.5s forwards;
  }
}

// *** Menu Heading ***
.skills__menu-heading {
  @include font-settings(4.8rem, 700, 5.6rem, -0.15rem);

  // *** Responsive Design ***
  @include responsive-settings(tablet) {
    @include font-settings(3.6rem, 700, 5.6rem, -0.15rem);
  }
  @include responsive-settings(mobile-small) {
    @include font-settings(3.2rem, 700, 5.2rem, -0.15rem);
  }
  // *** End of Responsive Design ***
}
// *** End of Menu Heading ***
// *** End of Skills ***

// *** Fun Facts Title ***
.features__fun-facts-title {
  color: $success-primary;

  text-transform: uppercase;
  @include font-settings(2rem);
}
// *** End of Fun Facts Title ***

// *** Evolution - h3 ***
.evolution__phase-heading {
  margin-top: 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);

  @include position-settings($position: relative, $left: -14.5rem, $zIndex: 15);
  @include font-settings(4rem);
}

// *** Mobile ***
.evolution__phase-mobile-heading {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);

  // *** Responsive Design ***
  @include responsive-settings(tablet) {
    @include font-settings(3.6rem, 700, 5.6rem, -0.15rem);
  }
  @include responsive-settings(mobile-small) {
    @include font-settings(3.2rem, 700, 5.2rem, -0.15rem);
  }
  // *** End of Responsive Design ***
}
// *** End of Mobile ***
// *** End of Evolution - h3 ***

// *** Future - h3 ***
.future__box-heading {
  @include font-settings(6rem, 700, 1.5);

  // *** Responsive Design ***
  @include responsive-settings(tablet-large) {
    @include font-settings(4rem, 700, 1.5);
  }

  @include responsive-settings(mobile) {
    @include font-settings(3rem, 700, 1.5);
  }
  // *** End of Responsive Design ***
}
// *** End of Future - h3 ***

// *** Milestones - h3 ***
.milestones__item-heading {
  @include font-settings(7.2rem, 700, 7.2rem, -0.25rem);

  // *** Responsive Design ***
  @include responsive-settings(tablet-large) {
    @include font-settings(5.5rem, 700, 5.5rem, -0.25rem);
  }

  @include responsive-settings(tablet-small) {
    @include font-settings(4.5rem, 700, 4.5rem, -0.25rem);
  }

  @include responsive-settings(mobile) {
    @include font-settings(3.6rem, 700, 3.8rem, -0.25rem);
  }

  @include responsive-settings(mobile-small) {
    @include font-settings(3.2rem, 700, 3.8rem, -0.25rem);
  }
  // *** End of Responsive Design ***
}
// *** End of Milestones - h3 ***

// *** Faq - h4 ***
.faq__item-question {
  // *** Responsive Design ***
  @include responsive-settings(mobile) {
    @include font-settings(1.5rem);
  }
  // *** End of Responsive Design ***
}
// *** End of Faq - h4 ***

// *** My Story - h4 ***
.my-story__character-title {
  text-transform: uppercase;
  @include font-settings(1.6rem, $weight: 700);

  // ***  Responsive Design ***
  @include responsive-settings(tablet) {
    @include font-settings(1.4rem);
  }
  // ***  End of Responsive Design ***
}
// *** End of My Story - h4 ***

// *** My Process - h3 ***
.my-process__slider-title {
  color: $color-white;

  @include font-settings(4rem, 700, 1.2);

  // *** Responsive Design ***
  @include responsive-settings(tablet-small) {
    @include font-settings(2.4rem, 700);
  }
  // *** End of Responsive Design ***
}
// *** End of My Process - h3 ***

// *** Footer - H2 ***
.footer__title {
  // *** Responsive Design ***
  @include responsive-settings(tablet-large) {
    text-align: center;
  }
  // *** End of Responsive Design ***
}

// *** Envelope - Letter ***
.footer__envelope-letter-title {
  margin-bottom: 0.4rem;
  @include font-settings(1.6rem, 400, 2rem);
}

.footer__envelope-letter-nickname {
  display: inline-block;

  color: $dark-primary;

  margin-top: 0.4rem;

  @include position-settings($position: relative);
  @include font-settings(1.4rem, 900, $line-height: 2rem);

  &::before {
    content: '';

    transform: scaleX(1);

    background-color: $success-primary;

    @include position-settings($left: 0, $bottom: 0);
    @include dimension-settings(100%, $height: 0.2rem);
  }
}
// *** End of Envelope - Letter ***

// *** End of Footer - H2 ***
